Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [67]:
import re

In [11]:
sample_text="Python Exercises, PHP exercises."

expected_output=re.sub("\W", ":", sample_text)
expected_output

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [176]:
import pandas as pd

In [179]:
df=pd.DataFrame({'SUMMARY':['hello, world','XXXXX test','123four, five:; six...']})
df

                  SUMMARY
0            hello, world
1              XXXXX test
2  123four, five:; six...

In [180]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-z\s]', "", regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [694]:
def findall_(text):
    pattern=re.compile(r'\w{4}')
    result=pattern.findall(text)
    print(result)

In [695]:
string="Create a function in python to find all words that are at least 4 characters long in a string."

output=findall_(string)
output

['Crea', 'func', 'tion', 'pyth', 'find', 'word', 'that', 'leas', 'char', 'acte', 'long', 'stri']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [696]:
def func_str(text):
    pattern=re.compile(r'\w{3,4}')
    result=pattern.findall(text)
    print(result)

In [697]:
string="Create a function in python too find all three, four, and five"
output=func_str(string)
output

['Crea', 'func', 'tion', 'pyth', 'too', 'find', 'all', 'thre', 'four', 'and', 'five']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [708]:
def remove_par(text):
    pattern=re.compile(r"[()]") #[], will capture anything inside them.
    for msg in text:
        result=re.sub(pattern, "",msg)
        print(result)

In [709]:
strings=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]

output=remove_par(strings)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [484]:
with open("/Users/kanishkasaxena/Downloads/text.txt",'r') as file:
    sample_text=file.read()


result=re.sub(r'\([()]*\)', "",sample_text)
print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [302]:
sample_text= "ImportanceOfRegularExpressionsInPython"
    
exp_op=re.findall(r"([A-Z][a-z]*)",sample_text)
exp_op

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [683]:
def re_function(text):
    result=re.sub('(\d+)([A-Za-z]*)', r" \1\2" ,text)
    print(result)

In [684]:
samp_text="RegularExpression1IsAn2ImportantTopic3InPython"


exp_opt=re_function(samp_text)
exp_opt

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [685]:
def inser_space(text):
    result=re.sub('(\d+)([A-Za-z]*)', r" \1 \2" ,text)
    print(result)

In [686]:
samp_text="RegularExpression1IsAn2ImportantTopic3InPython"

exp_opt=inser_space(samp_text)
exp_opt

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [881]:
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [895]:
pattern=r"(\w{6}+)"

df['first_five_letters']=df['Country'].str.extract(pattern, expand=True)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [364]:
trgt_str="Writting_Code_1_0_ImportantTopic_"

result=re.match(r"^[\w]*$",trgt_str) #starts and ends with 0 or more occurences of word character
result

Question 12- Write a Python program where a string will start with a specific number.

In [467]:
str1="class 123cbx 748abc world"


result=re.search("[7].+",str1)
print("value: ", result.group())

value:  748abc world

Question 13- Write a Python program to remove leading zeros from an IP address

In [473]:
ip_add="123.0044.0000745.003"

op_ip=re.sub(r'\.[0]*','.',ip_add)
op_ip

'123.44.745.3'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [543]:
with open("/Users/kanishkasaxena/Downloads/text.txt", 'r') as file:
    str_txt=file.read()

pattern="(\w+ \d{1,2}(?:th|st|rd|nd) \d{4})"
result=re.findall(pattern,str_txt)
result

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [557]:

import re

pattern=['fox','dog','horse']
text="The quick brown fox jumps over the lazy dog."

for pat in pattern:
    print("string:", (pat), "in", (text))
    if re.search(pat,text):
        print("string macthed")
    else:
        print("string mismacthed")

string: fox in The quick brown fox jumps over the lazy dog.
string macthed
string: dog in The quick brown fox jumps over the lazy dog.
string macthed
string: horse in The quick brown fox jumps over the lazy dog.
string mismacthed

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [559]:
text="The quick brown fox jumps over the lazy dog."

result=re.search('fox',text)

result

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'
    
Pattern : 'exercises'.

In [572]:
text="Python exercises, PHP exercises, C# exercises"

result=re.finditer('exercises',text)

for match in result:
    print(match.group())

exercises
exercises
exercises

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [670]:
text='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
result=re.finditer(pattern,text)

for match in result:
    print(match)
    print("Position: ", match.span())

occurence=text.count(pattern)
print("number of occurences: ", occurence)

<re.Match object; span=(7, 16), match='exercises'>
Position:  (7, 16)
<re.Match object; span=(22, 31), match='exercises'>
Position:  (22, 31)
<re.Match object; span=(36, 45), match='exercises'>
Position:  (36, 45)
number of occurences:  3

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [612]:
text="Write a Python program to convert a date of 1991-07-28 to dd-mm-yyyy format. "
pattern='(\d{4})-(\d{2})-(\d{2})'
result=re.sub(pattern, '\\3-\\2-\\1', text)
result

'Write a Python program to convert a date of 28-07-1991 to dd-mm-yyyy 01-09-1991 format. '

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [643]:
Sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern=re.compile(r'\d+\.\d{1,2}')

result=pattern.findall(Sample_text)

result

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [671]:
sample_text="Write a Python program to separate and print the numbers 25 and their position 56 of a given string."

pattern="\d+"
find_iter=re.finditer(pattern, sample_text)
for pat in find_iter:
    print(pat.group())
    print("index position:", pat.start())

25
index position: 57
56
index position: 79

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [679]:
Sample_text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

pattern='\d+'

result=re.findall(pattern,Sample_text)
print("Maximum marks obtained:", max(result))

Maximum marks obtained: 950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [725]:
def insert_space(text):
    pattern=re.compile(r"([A-Z]+)")
    result=re.sub(pattern, r' \1',text)
    print(result)

In [726]:
Sample_text="RegularExpressionIsAnImportantTopicInPython"

output=insert_space(Sample_text)

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [743]:
Sample_text="Regular Expression Is An important Topic In Python"

result=re.findall(r"([A-Z][a-z]+)",Sample_text)
result

['Regular', 'Expression', 'Is', 'An', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [759]:
Sample_Text="Hello hello world world"

result=re.sub(r'(\w+)\s+(\1)', r'\1', Sample_Text, )
result

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [778]:
import re
string="this is ending with 123ab"

if (re.search(r'[a-zA-Z0-9]+$',string)):
    print("accepted")
else:
    print("rejected")

accepted

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [798]:
Sample_Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

result=re.findall(r'#\w+', Sample_Text)
result

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
    
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [799]:
def func_1(text):
    result=re.sub(r'\<.+\>', "",text)
    print(result)

In [802]:
Sample_Text="""@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"""

output=func_1(Sample_Text)
output

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
    
Note- Store this sample text in the file and then extract dates.

In [808]:
def fun_2(text):
    result=re.findall(r'(\d{2}-\d{2}-\d{4})+',text)
    print(result)

In [809]:
with open("/Users/kanishkasaxena/Downloads/text.txt") as file:
    sample_text=file.read()

output=fun_2(sample_text)
output

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [874]:
def fun_3(text):
    pattern=re.compile(r'(\b\w{2,4}\b) (\w+)')
    result=re.sub(pattern,r'\2', text)
    print(result)

In [896]:
Sample_Text="""The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the  ArrayList is trimmed accordingly."""

output=fun_3(Sample_Text)
output

following example creates ArrayList a capacity 50 elements. 4 elements then added the ArrayList the  ArrayList trimmed accordingly.